body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.div {
    height: 2000px;
}
#arrowTop {
  height: 9px;
  width: 14px;
  color: green;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#arrowTop::before {
  content: '▲';
}